racelay-bug-detection-workflow.json
{
  "name": "RACELAY Bug Detection & Error Monitoring",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "name": "Error Monitor Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "command": "cd /app && find . -name '*.log' -o -name '*error*' -o -name '*debug*' | head -10 | xargs tail -50 2>/dev/null || echo 'No log files found'",
        "options": {}
      },
      "name": "Check Application Logs",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        460,
        200
      ]
    },
    {
      "parameters": {
        "command": "cd /app && curl -s http://localhost:3001/api/health 2>/dev/null || echo 'Health check failed'",
        "options": {}
      },
      "name": "Health Check API",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "options": {
          "filter": "created_at >= '{{ new Date(Date.now() - 30 * 60 * 1000).toISOString() }}'"
        },
        "table": "activities"
      },
      "name": "Check Recent DB Activity",
      "type": "@n8n/n8n-nodes-langchain.supabase",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "your-supabase-credential-id",
          "name": "RACELAY Supabase"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "messages": [
            {
              "role": "system",
              "content": "You are a senior DevOps engineer specializing in error detection and system monitoring."
            },
            {
              "role": "user",
              "content": "Analyze these system metrics for potential issues:\n\nApplication Logs:\n{{$json.logs_output}}\n\nHealth Check Result:\n{{$json.health_output}}\n\nRecent Database Activity: {{$json.db_count}} records\n\nLook for:\n1. Error patterns or exceptions\n2. Performance issues\n3. Data inconsistencies\n4. System health problems\n\nIf issues found, provide specific details and severity levels. If no issues, confirm system is healthy."
            }
          ]
        }
      },
      "name": "AI Bug Analyzer",
      "type": "@n8n/n8n-nodes-langchain.chatOpenAi",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "your-openai-credential-id",
          "name": "RACELAY OpenAI"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.choices[0].message.content.toLowerCase() }}",
              "operation": "contains",
              "value2": "error"
            },
            {
              "value1": "={{ $json.choices[0].message.content.toLowerCase() }}",
              "operation": "contains",
              "value2": "issue"
            },
            {
              "value1": "={{ $json.choices[0].message.content.toLowerCase() }}",
              "operation": "contains",
              "value2": "problem"
            }
          ]
        }
      },
      "name": "Check for Issues",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "system_alerts",
        "data": {
          "alert_type": "bug_detected",
          "severity": "high",
          "message": "={{ $json.choices[0].message.content }}",
          "detected_at": "={{ new Date().toISOString() }}",
          "status": "active"
        }
      },
      "name": "Save Bug Alert",
      "type": "@n8n/n8n-nodes-langchain.supabase",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "your-supabase-credential-id",
          "name": "RACELAY Supabase"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "alerts@racelay.com",
        "toEmail": "dev-team@racelay.com",
        "subject": "🚨 RACELAY System Alert - Issues Detected",
        "text": "={{ $json.choices[0].message.content }}\n\nDetected at: {{ new Date().toISOString() }}",
        "options": {}
      },
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1560,
        200
      ]
    }
  ],
  "connections": {
    "Error Monitor Trigger": {
      "main": [
        [
          {
            "node": "Check Application Logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Health Check API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Application Logs": {
      "main": [
        [
          {
            "node": "Check Recent DB Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check API": {
      "main": [
        [
          {
            "node": "Check Recent DB Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Recent DB Activity": {
      "main": [
        [
          {
            "node": "AI Bug Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Bug Analyzer": {
      "main": [
        [
          {
            "node": "Check for Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Issues": {
      "main": [
        [
          {
            "node": "Save Bug Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Bug Alert": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null
}