racelay-ai-coach-workflow.json
{
  "name": "PRACER AI Coach – Daily Run Analysis",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 100,
        "options": {}
      },
      "name": "Supabase - Get Profiles",
      "type": "@n8n/n8n-nodes-langchain.supabase",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "your-supabase-credential-id",
          "name": "RACELAY Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ai_coaching_enabled }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "name": "Air-Gap Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 50,
        "options": {
          "filter": "user_id = '{{ $json.id }}'"
        }
      },
      "name": "Supabase - Get Recent Activities",
      "type": "@n8n/n8n-nodes-langchain.supabase",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "your-supabase-credential-id",
          "name": "RACELAY Supabase"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "messages": [
            {
              "role": "user",
              "content": "Act as an elite running coach using Jack Daniels methodology.\nAthlete current fitness: VDOT {{$json.vdot_current}}\n\nLatest run: {{$json.distance}}km at {{$json.pace}} min/km\n\nWrite exactly one short, tactical, motivating sentence (max 20 words).\nExample: \"Lock into that tempo rhythm early — this builds your lactate threshold engine.\""
            }
          ]
        }
      },
      "name": "OpenAI - Generate Coach Note",
      "type": "@n8n/n8n-nodes-langchain.chatOpenAi",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "your-openai-credential-id",
          "name": "RACELAY OpenAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": "activities",
        "data": {
          "ai_coach_notes": "={{ $json.choices[0].message.content }}",
          "ai_coach_processed_at": "={{ new Date().toISOString() }}"
        },
        "options": {
          "filter": "id = '{{ $json.id }}'"
        }
      },
      "name": "Supabase - Update Activity",
      "type": "@n8n/n8n-nodes-langchain.supabase",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "your-supabase-credential-id",
          "name": "RACELAY Supabase"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Supabase - Get Profiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Profiles": {
      "main": [
        [
          {
            "node": "Air-Gap Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Air-Gap Filter": {
      "main": [
        [
          {
            "node": "Supabase - Get Recent Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Recent Activities": {
      "main": [
        [
          {
            "node": "OpenAI - Generate Coach Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Generate Coach Note": {
      "main": [
        [
          {
            "node": "Supabase - Update Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null
}